<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mathtest">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".KSKSActivity" />
        <activity android:name=".JZCTActivity" />
        <activity android:name=".CTRJActivity" />
        <activity android:name=".ShopActivity" />
        <activity android:name=".MINEActivity" />
        <activity android:name=".QuestionsActivity" />
        <activity android:name=".DTActivity" />
        <activity android:name=".GoldCoins" />
        <activity android:name=".MESSAGEActivity" />
        <activity android:name=".ABOUTUSActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>